<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings><add name="TransparenciaEntities" connectionString="metadata=res://*/TransparenciaEntities.csdl|res://*/TransparenciaEntities.ssdl|res://*/TransparenciaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIXVS-CHEVY;initial catalog=INDETEC_Transparencia;user id=sa;password=c4224a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>